* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

.day-one {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#box1 {
    width: 300px;
    height: 300px;
    background-color: crimson;
}

#box2 {
    width: 300px;
    height: 300px;
    background-color: lightseagreen;
}

/* --------------------------------------------------------------------------- */

#page1 {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 67, 182);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 184, 163);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    width: 300px;
    height: 300px;
    background-color: yellow;
}