* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

.day-one {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#box1 {
    width: 300px;
    height: 300px;
    background-color: crimson;
}

#box2 {
    width: 300px;
    height: 300px;
    background-color: lightseagreen;
}

/* --------------------------------------------------------------------------- */

#page1 {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 67, 182);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 184, 163);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#page3 h2 {
    position: relative;
    background-color: red;
    padding: 10px;
}

#page3 h3 {
    position: relative;
    background-color: palegreen;
    padding: 10px;
}

#box {
    width: 300px;
    height: 300px;
    background-color: yellow;
}

#page4 h3 {
    font-size: 30px;
}

#string {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    height: 50vh;
    border: 1px solid red;
    /* background-color: red; */
}

svg {
    background-color: red;
    height: 40vh;
}

#main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    background-color: #fff;
    position: fixed;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: center;
}

#image{
    width: 60vw;
    height: 60vh;
    background-color: rebeccapurple;
    background-image: url('https://images.unsplash.com/photo-1533523611631-15e4ef69be08?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
}